html {
  box-sizing: border-box;
  overflow-anchor: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  margin-bottom: 20px;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.search-form__input {
  margin-right: 15px;
  width: 300px;
  font-size: 26px;
}

ul.gallery {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly; 
  column-gap: 15px;
  row-gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.gallery__item {
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12) ;
  transition: transform 400ms linear, box-shadow 200ms linear;
}

.gallery__item:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.32) ;
}

.photo-card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

img {
  background-size: cover;
  width: 288px;
  height: 186px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 288px;
  font-size: 12px;
}

.stats-item {
  margin: 0 auto;
  padding: 15px 0;
}

.button-is-hidden {
  display: none;
}

.button-load-more {
  margin-left: auto;
  margin-right: auto; 
}

button {
  display: block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
} 

button:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
button:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }